/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2015, 12:27:15 AM
    Author     : halzate93
*/

/*
=============================
NAVBAR
=============================
*/
.navbar ul.nav > li > a:hover {
  border-top: solid 5px #4fbfa8;
}

.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  border-top: solid 5px #4fbfa8;
}

/* 
===========================================
 UNIVERSAL SECTION RULES
===========================================
*/

.text-gradient{
    background: #13836c;
    background-image: -webkit-linear-gradient(top, #13836c 0%, #45b59e 100%);
    background-image: linear-gradient(to bottom, #13836c 0%, #45b59e 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff13836c', endColorstr='#ff45b59e', GradientType=0);
}

/*
==========================================
ABOUT
==========================================
*/

.skill-item .progress-bar{
    background-color: #9adacd !important;
}


/*
===========================================
SERVICES
===========================================
*/

.services .icon{
    text-shadow: 5px 5px 0 #2d7b6b;
}

/*
===========================================
WORKS / REFERENCES
===========================================
*/

#filter li{
    border-top: solid 1px #4fbfa8;
    border-bottom: solid 1px #4fbfa8;
}

#filter li.active,
#filter li:hover {
    background: #4fbfa8;
}

.reference-item .reference {
    background: #4fbfa8;
}


/*
===========================================
CONTACT - WORDPRESS
===========================================
*/

div.wpcf7 div.wpcf7-mail-sent-ok {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

div.wpcf7 div.wpcf7-mail-sent-ok hr {
    border-top-color: #c9e2b3;
}
div.wpcf7 div.wpcf7-mail-sent-ok .alert-link {
    color: #2b542c;
}
div.wpcf7 div.wpcf7-mail-sent-ng {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
div.wpcf7 div.wpcf7-mail-sent-ng hr {
    border-top-color: #e4b9c0;
}
div.wpcf7 div.wpcf7-mail-sent-ng .alert-link {
    color: #843534;
}
div.wpcf7 div.wpcf7-spam-blocked {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
div.wpcf7 div.wpcf7-spam-blocked hr {
    border-top-color: #e4b9c0;
}
div.wpcf7 div.wpcf7-spam-blocked .alert-link {
    color: #843534;
}
div.wpcf7 div.wpcf7-validation-errors {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
div.wpcf7 div.wpcf7-validation-errors hr {
    border-top-color: #e4b9c0;
}
div.wpcf7 div.wpcf7-validation-errors .alert-link {
    color: #843534;
}
div.wpcf7 div.wpcf7-validation-errors {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
div.wpcf7 div.wpcf7-validation-errors hr {
    border-top-color: #e4b9c0;
}
div.wpcf7 div.wpcf7-validation-errors .alert-link {
    color: #843534;
}

/*
=====================
FOOTER
=====================
*/
#footer p.social a.external, #footer p.social a.email {
    background-color: #4fbfa8;
}

/*
=====================
GENERAL
=====================
*/

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: #4fbfa8;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #4fbfa8;
}

.navbar-brand {
    color: #4fbfa8;
}

.navbar-default .navbar-brand {
    color: #4fbfa8;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #3aa18c;
}

.navbar-default .navbar-toggle {
    border-color: #4fbfa8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #4fbfa8;
}

a {
    color: #4fbfa8; 
}

a:hover,
a:focus {
    color: #348e7b;
}

.btn-primary {
    color: #4fbfa8;
    border-color: #4fbfa8;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #4fbfa8;
    border-color: #389985;
}

.btn-primary .badge {
    background-color: #4fbfa8;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background: #4fbfa8;
}

.form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.pager li > a,
.pager li > span {
    border: 1px solid #4fbfa8;
}

.pager li > a:hover,
.pager li > a:focus {
    background-color: #4fbfa8;
}

.pagination > li > a,
.pagination > li > span {
    color: #4fbfa8;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #4fbfa8;
    background-color: #bfe8df;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #4fbfa8;
    border-color: #4fbfa8;
}

.text-primary {
    color: #4fbfa8;
}

a.text-primary:hover {
    color: #3aa18c;
}

.bg-primary {
    background-color: #4fbfa8;
}

a.bg-primary:hover {
    background-color: #3aa18c;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #4fbfa8;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #4fbfa8;
  border-color: #4fbfa8;
}

blockquote {
    border-left: 5px solid #4fbfa8;
}

.blockquote-reverse,
blockquote.pull-right {
    border-right: 5px solid #4fbfa8;
}

.panel-primary {
    border-color: #4fbfa8;
}

.panel-primary > .panel-heading {
    background-color: #4fbfa8;
    border-color: #4fbfa8;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #4fbfa8;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #4fbfa8;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #4fbfa8;
}

.tooltip-inner {
    background-color: #4fbfa8;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #4fbfa8;
}

.tooltip.top-left .tooltip-arrow {
    border-top-color: #4fbfa8;
}

.tooltip.top-right .tooltip-arrow {
    border-top-color: #4fbfa8;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #4fbfa8;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #4fbfa8;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #4fbfa8;
}

.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #4fbfa8;
}

.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #4fbfa8;
}

.progress-bar {
    background-color: #4fbfa8;
}
