/* your styles go here */

#about .linkedin{
    border: 1px solid;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2.5px;
    border-radius: 25px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}