/* your styles go here */

#about .linkedin,
#about .tumblr{
    border: 1px solid;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2.5px;
    border-radius: 25px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}

#bird{
    position: relative;
    top: 10%;;
    left: 60%;
    width: 15%;
}

@media all and (max-width: 768px) {
    .navbar .navbar-brand{
        font-size:20px;
    }
}