/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/08/2015, 05:08:27 PM
    Author     : halzate93
*/

// #84161C
// #C42129
// #D1232C
// #440C0E
// #AA1D24

body{
    
}

.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
    border-top-color: #C42129;
}

.navbar ul.nav > li > a:hover {
    border-top: solid 5px #C42129;
}

.text-gradient {
    background: #84161C;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #84161C 0%, #D1232C 100%);
    background-image: linear-gradient(to bottom, #84161C 0%, #D1232C 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff84161C', endColorstr='#ffD1232C', GradientType=0);
}

.progress-bar-skill {
    background-color: #a9a8a8 !important;
    background-color: #C42129 !important;
}

.services .icon {
    text-shadow: 5px 5px 0 #440C0E;
}

#filter li {
    border-top-color: #C42129;
    border-bottom-color: #C42129;
}

#filter li.active,
#filter li:hover {
    background: #C42129;
}

.reference-item .reference {
    background: #C42129;
}

#footer p.social a.external,
#footer p.social a.email
{
    background-color: #C42129;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #C42129;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #C42129;
}

.navbar-brand {
    color: #C42129;
}

.navbar-default .navbar-brand {
    color: #C42129;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #84161C;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #C42129;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #C42129;
}

a {
    color: #C42129;  
}

a:hover,
a:focus {
    color: #84161C;
}

.btn-primary {
    color: #C42129;
    border-color: #C42129;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #84161C;
    color: #C42129;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #C42129;
}

.btn-primary .badge {
    background-color: #C42129;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #C42129;
    color: #eee;
}

.pager li > a,
.pager li > span {
    border-color: #C42129;
}

.pager li > a:hover,
.pager li > a:focus {
    background-color: #C42129;
}

.pagination > li > a,
.pagination > li > span {
    color: #C42129;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #C42129;
    background-color: #AA1D24;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #C42129;
    border-color: #C42129;
}

.text-primary {
    color: #C42129;
}
a.text-primary:hover {
    color: #84161C;
}

.bg-primary {
    background-color: #C42129;
}

a.bg-primary:hover {
    background-color: #84161C;
}

blockquote{
    border-left-color: #C42129;
}

.blockquote-reverse,
blockquote.pull-right {
    border-right-color: #C42129;
}

.panel-primary {
    border-color: #C42129;
}

.panel-primary > .panel-heading {
    background-color: #C42129;
    border-color: #C42129;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #C42129;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #C42129;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #C42129;
}

.tooltip-inner {
    background-color: #C42129;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #C42129;
}

.tooltip.top-left .tooltip-arrow {
    border-top-color: #C42129;
}

.tooltip.top-right .tooltip-arrow {
    border-top-color: #C42129;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #C42129;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #C42129;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #C42129;
}

.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #C42129;
}

.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #C42129;
}

.progress-bar {
    background-color: #C42129;
}